<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @analyzed_text.count_of_words  %></h2>

<h2>Vowels: <%= @analyzed_text.count_of_vowels %></h2>

<h2>Consonants: <%= @analyzed_text.count_of_consonants %></h2>

<% value_array = @analyzed_text.most_used_letter.values %>
<% key = @analyzed_text.most_used_letter.key(value_array[0]) %>

<h1><%=@analyzed_text.most_used_letter %></h1>


<h2>Most Common Letter: <%= key.upcase %>, used <%= value_array[0].to_s %> times</h2>

<h2>Most Common Letter: <%= @letter.upcase %>, used <%= @number.to_s %> times</h2>